:root{
  --primary-color: #100d17;
  --secondary-color: #f5a623;
  --background-color: #1a1623;
  --text-color: #fff;
  --text-colot-dark: #000;
  --accent-color: #21ebba;

  --font-family: 'Roboto Condensed', sans-serif;
  --font-size: 16px;
  --border-radius: 8px;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  --transition-duration: 0.3s;
  --transition-ease: ease-in-out;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}

/* ===========================
    LIVROS PAGE STYLES
=========================== */

.container {
  width: 70vw;
  height: 80vh;
  overflow: hidden;
  display: flex;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background-color: var(--primary-color);
}

/* ===========================
   COMMON STYLES FOR FORMS
=========================== */

.image-side {
  width: 50%;
  background: url('https://media1.giphy.com/media/v1.Y2lkPTc5MGI3NjExdWhmN2k2eTJsaHViY3FuNW5ib3Zxa2VyNnNsZTRpZHV4aWdzdjJpcSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/WoWm8YzFQJg5i/giphy.gif') center/cover no-repeat;
  border-radius: 20px;
}

.form-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  position: relative;
}

.form {
  width: 100%;
  max-width: 300px;
  transition: transform 0.6s ease-in-out, opacity 0.6s ease-in-out;
  position: absolute;
}

.form h2 {
  margin-bottom: 20px;
  font-size: 24px;
  text-align: center;
  color: white;
}

.form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 5px;
  border: none;
  outline: none;
  color: white;
  background-color: #404040;
}

.form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background: white;
  color: black;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: bold;
}

/* ===========================
    SIDEBAR STYLES]
=========================== */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 70px; /* recolhida (só ícones) */
  background: #100d17;
  transition: width 0.3s ease;
  overflow: hidden;
}

.logo-library{
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
  text-transform: uppercase;
  flex-wrap: wrap;
  color: var(--text-color);
}

/* Expande ao passar o mouse */
.sidebar:hover {
  width: 200px;
}

.sidebar ul a{
  text-decoration: none;
  color: var(--text-color);
  font-weight: 500;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar ul a li {
  display: flex;
  align-items: center;
  padding: 15px;
  cursor: pointer;
  transition: background 0.2s;
}

.sidebar ul a li:hover {
  background: rgba(0, 0, 0, 0.2);
}

.sidebar ul li i {
  font-size: 20px;
  min-width: 40px;
  text-align: center;
}

.sidebar ul li span {
  white-space: nowrap;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* Mostra texto só quando expandida */
.sidebar:hover ul li span {
  opacity: 1;
}